@import "variables";

#cards-list-view {

    > h1 {
        @include defaultFont();
        color: $primary-color;
        font-size: medium;
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    #cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        > img {
            width: calc(50% - 20px);
            border-radius: 7px;
        }
    }
}