@import "variables";

#cards-list-view {

    > h1 {
        @include defaultFont();
        color: $primary-color;
        font-size: medium;
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    #cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        > img {
            width: calc(50% - 20px);
            border-radius: 7px;
        }
    }
}

@media only screen and (min-width: 530px) {
    #cards-list-view {
        #cards-container {
            > img {
                width: calc(25% - 20px);
                border-radius: 7px;
            }
        }
    }
}

@media only screen and (min-width: 930px) {
    #cards-list-view {
        #cards-container {
            > img {
                width: calc(16% - 20px);
                border-radius: 7px;
            }
        }
    }
}