@import "variables";

#cardDetailsView {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
    width: 100%;
    background-color: #000000d9;
    color: whitesmoke;
    z-index: 1;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 1s ease-in;

    button {
        background-color: $primary-color;
        color: whitesmoke;
        height: 50px;
        width: 150px;
        border: none;
        border-radius: 7px;
        font-size: medium;
        font-weight: bold;
    }
}

#cardDetailsView.isDisplayed {
    opacity: 1;
}

#cardDetailsContainer {
    img {
        max-width: 80%;
        margin-bottom: 10px;
        border-radius: 13px;
    }

    > section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > div {
            margin-bottom: 20px;

            > h1 {
                font-size: larger;
                font-weight: bolder;
            }
        }

        .oracle, .flavour {
            width: 80%;
            text-align: left;
            margin-bottom: 5px;
        }

        .flavour {
            font-style: italic;
        }

        .artist {
            font-weight: 500;
            margin: 10px 0px;
        }
    }
}

@media only screen and (min-width: 510px) {
    #cardDetailsContainer {
        img {
            max-width: 60%;
        }
    }
}

@media only screen and (min-width: 630px) {
    #cardDetailsContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0px 40px;
        img {
            max-width: 50%;
        }
    }
}

@media only screen and (min-width: 930px) {
    #cardDetailsContainer {
        img {
            max-width: 40%;
        }
        > section {
            > div {
                > h1 {
                    font-size: 40px;
                }

                > p {
                    font-size: 20px;
                }
            }

            .oracle, .flavour {
                font-size: 20px;
            }

            .artist {
                font-size: 22px;
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    #cardDetailsContainer {
        img {
            max-width: 30%;
        }
    }
}