@import "variables";

#searchError {
    font-size: 25px;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    font-weight: 600;
    color: $primary-color;
}

#cards-list-view {

    > h1 {
        @include defaultFont();
        color: $primary-color;
        font-size: medium;
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    #cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        > img {
            width: calc(50% - 20px);
            border-radius: 7px;
            transition: scale 0.5s ease;

            &:hover {
                scale: 1.05;
            }
        }
    }
}

@media only screen and (min-width: 530px) {
    #cards-list-view {
        #cards-container {
            > img {
                width: calc(25% - 20px);
                border-radius: 7px;
            }
        }
    }
}

@media only screen and (min-width: 930px) {
    #cards-list-view {
        #cards-container {
            > img {
                width: calc(16% - 20px);
                border-radius: 7px;
            }
        }
    }
}