@import "variables";

header {
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: $primary-color;
    color: whitesmoke;

    padding: 20px 2px;
    margin-bottom: 20px;

    h1 {
        font-weight: 600;
        font-size: 20px;
    }

    section {
        display: flex;
        justify-content: center;
        gap: 10px;

        input {
            width: 300px;
            height: 25px;
            border-radius: 3px;
            border: none;
        }

        button {
            background-color: whitesmoke;
            color: $primary-color;
            border: none;
            border-radius: 3px;
        }
    }
}