@import "variables";

#setSelection {
    display: flex;
    flex-direction: column;
    gap: 25px;

    > .sets {

        > h2 {
            color: $primary-color;
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        > .sets-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;

            .sets-button {  
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-style: none;
                width: 85%;
                height: 45px;
                line-height: 45px;
                font-size: 15px;
                background-color: $primary-color;
                border-radius: 7px;
                box-shadow: rgba(0, 0, 0, 0.464) 4px 4px 8px;
                transition: scale 0.1s ease;

                &:hover {
                    scale: 1.015;
                }

                img {
                    max-height: 70%;
                    max-width: 50px;
                    margin-left: 20px;
                }

                a {
                    width: 80%;
                    text-decoration: none;
                    line-height: 15px;
                    color: whitesmoke;
                }
            }
        }
    }
}

@media only screen and (min-width: 530px) {
    #setSelection {
        > .sets {
            > .sets-container {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                .sets-button {  
                    width: calc(100vw / 2 - 20px);
                }
            }
        }
    }
}

@media only screen and (min-width: 930px) {
    #setSelection {
        > .sets {
            > .sets-container {
                .sets-button {  
                    width: calc(100vw / 3 - 20px);
                }
            }
        }
    }
}